.how-slogan {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 25px;
  color: #595959;
  margin-top: 20px;
}

.how-container {
  padding-top: 20px;
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  width: "25rem";
  border: none;
}

.howcard-img {
  width: 250px;
  max-height: 250px;
  margin: auto;
}

.screenshot-img {
  max-width: 500px;
}
