.App {
  text-align: center;
  background-color: white;
  height: 100vh;
}
.navbar {
  padding-top: 0 !important;
  align-items: flex-end !important;
  padding-bottom: 0 !important;
}

.nav-link {
  padding-bottom: 0 !important;
}

.nav-link-text {
  padding-bottom: 1em !important;
}

.nav-link-right-aligned {
  position: absolute;
  display: flex;
  flex-direction: row;
  right: 20px;
  left: auto;
  /* left: 600px !important; */
}

/** Added the following for underline effect **/
.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px white;
  margin-bottom: 20px;

  /* the rest of your styling */
}

.navbar .navbar-nav .nav-link:hover {
  color: #868578;
}
@media only screen and (min-width: 960px) {
  .navbar .navbar-nav .nav-link {
    padding: 1em 0.7em;
  }
  .navbar {
    padding: 0;
  }
  .navbar .navbar-brand {
    padding: 0 0.7em;
  }
}
.navbar .navbar-nav .nav-link {
  position: relative;
}
.navbar .navbar-nav .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #eeaa5d;
  color: transparent;
  width: 0%;
  content: "";
  height: 3px;
  transition: all 0.5s;
}
.navbar .navbar-nav .nav-link:hover::after {
  width: 100%;
}

.navbar .navbar-nav .nav-link.active {
  /* -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  margin-bottom: 20px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #eeaa5d;
  color: transparent;
  content: "";
  height: 3px; */

  text-decoration-color: #eeaa5d !important;
  text-decoration-thickness: 2px !important;
  text-decoration: underline;
  text-underline-offset: 20px;

  /* height: 50px; */
  /* border-bottom: 10px;
  border-bottom-style: solid;
  border-color: #eeaa5d;
  padding-bottom: 1px; */
}
.button__primary {
  background-color: white;
  color: #f3cf04;
}
.button__secondary {
  background-color: #f3cf04;
  color: white;
}

.button__link {
  border: solid 1px #f3cf04;
  border-radius: 30px;
  padding: 1px 20px;
  margin: 5px;
  font-weight: bolder;
}
