.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
}

body {
  font-family: Roboto;
}

.navitem {
  vertical-align: middle;
}

.navbar {
  padding-top: 0 !important;
  align-items: flex-end !important;
  padding-bottom: 0 !important;

  .nav-link {
    &:hover {
      cursor: pointer;
    }
  }

  #navbar__welcome {
    margin-right: 5px;
  }
}

.nav-link-right-aligned {
  position: absolute;
  display: flex;
  flex-direction: row;
  right: 20px;
  align-items: center;
}

.nav-link-center-aligned {
  position: absolute;
  display: flex;
  flex-direction: row;
  right: 20px;
}

@media (max-width: 1024px) {
  .nav-link-center-aligned {
    align-self: center;
    position: initial;
  }

  .nav-link-right-aligned {
    align-self: flex-end;
    position: initial;
  }

  .navbar {
    align-items: center !important;
  }
}
.navbar .navbar-nav .nav-link:hover::after {
  width: 100%;
}

.navbar .navbar-nav .nav-link {
  position: relative;
  padding: 1em 0.7em;
}

.navbar .navbar-nav .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #eeaa5d;
  color: transparent;
  width: 0%;
  content: "";
  height: 3px;
  transition: all 0.5s;
}

.navbar .navbar-nav .nav-link.active {
  text-decoration-color: #eeaa5d !important;
  text-decoration-thickness: 3px !important;
  text-decoration: underline;
  text-underline-offset: 17px;
}

.workout-container {
  padding: 50px;
  background-color: white;
}

.button__primary {
  background-color: white;
  color: #595959;
  border: solid 1px #595959;
}
.button__secondary {
  background-color: #f3cf04;
  color: #595959;
}

.button__link {
  border: solid 1px #f3cf04;
  border-radius: 30px;
  padding: 1px 20px;
  margin: 5px;
  font-weight: bolder;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-container {
  display: flex;
  justify-content: center;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
}

input {
  opacity: 0.8;
  color: black;
  margin-top: 10px;
  width: 300px;
  height: 59px;
  font-size: 16px;
  margin-bottom: 14px !important;
  max-width: 527px;
  padding: 0 10%;
}
@media (max-width: 1024px) {
  .workout-container {
    padding: 30px;
    background-color: white;
  }
}

h2 {
  padding: 30px;
}
