.carousel-caption {
  bottom: 1px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 25px;
  color: #fff;
}

.carousel-item img {
  max-height: 500px;
}

.home__slogan {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 22px;
  color: #e6b219;
  margin-top: 20px;
}
