.carousel-caption {
  bottom: 1px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 25px;
  color: #e6b219;
}

.carousel .carousel-item {
  height: 600px;
}

.carousel-item img {
  object-position: cover;
  max-height: 88%;
  display: block;
  height: auto;
  max-width: 60%;
  margin: auto;
  width: 100%;
}

.text {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 25px;
  color: #e6b219;
}

.button {
  border-radius: 50px;
}
