.container {
  position: relative;
  text-align: right;
  padding: 0;
  min-width: 100%;
}

.centered {
  position: absolute;
  top: 60%;
  right: 7%;
  transform: translate(-50%, -50%);
}

.background-image {
  background-image: url(userlogin_bg.gif);
  background-size: cover;
  height: 100vh;
  width: auto;
}

.login {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  min-height: 672px;
  color: grey;
  margin-top: 100px;
}

.pass-wrapper {
  margin-bottom: 14px;
}

i {
  position: relative;
  right: 40px;
}

i:hover {
  color: hsl(204, 100%, 49%);
  cursor: pointer;
}
