$box-shadow: 0 2px 5px 0 rgba(60, 66, 87, 0.12), 0,
  1px 1px 0 rgba(0, 0, 0, 0.12);
$red: #dc3545;

html {
  box-sizing: border-box;
  font-size: 16px;
}
body {
  background: gray;
}

.container-register {
  background-image: url(exercise_lady.jpg);
  background-size: cover;
  background-position: center;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}
.register-form {
  background: white;
  padding: 1rem;
  min-width: 300px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  margin-top: 150px;
  box-shadow: $box-shadow;

  .signup-header {
    font-weight: bold;
    font-size: large;
    text-align: left;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
  }

  button.form-submit-button {
    margin-left: -210px;
  }

  span.error-display {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: $red;
    text-align: left;
  }
}
