$red: #dc3545;

html {
  box-sizing: border-box;
  font-size: 16px;
}
body {
  background: darkgrey;
}

.container-register {
  background-image: url(../../imports/exercise_lady.jpg);
  background-size: cover;
  height: 100vh;
  padding: 100px;
}

.register-form {
  min-width: 300px;
  max-width: 350px;
  margin: 0 auto;

  .signup-header {
    font-weight: bold;
    font-size: large;
    text-align: left;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  span.error-display {
    font-size: 0.875rem;
    color: $red;
    text-align: left;
  }
}

@media (max-width: 1024px) {
  .container-register {
    padding: 20px;
  }
  .register-form {
    margin-bottom: 20px;
  }
}
