.workout_bg {
  background-image: url(workout_bg.gif);
  background-size: cover;
  height: 100vh;
}

.disabled {
  cursor: not-allowed !important;
  background-color: #cebf6b;
  border: 1px solid #cebf6b;
}
