.workouts {
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: 200px;
    margin: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.2);

    &:hover {
      transform: scale(1.02) rotate(3deg);
    }
    &:nth-child(odd):hover {
      transform: scale(1.02) rotate(-3deg);
    }
  }
}

.workout {
  &__image {
    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
    padding: 10px;
    font-family: "Verdana", sans-serif;
    font: "Verdana", sans-serif;

    p {
      margin: 0;
      font-weight: 800;
      width: 150px;
      overflow: hidden;
      line-height: 1.2rem;
      max-height: 2.4rem;
      -webkit-box-orient: vertical;
      display: block;
      display: -webkit-box;
      overflow: hidden !important;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
    }
  }
  &__titlepadding {
    height: 40px;
    padding: 5px;

    text-align: center;
  }
  &__details {
    display: flex;
    align-items: center;
    height: 60px;
  }
}

.break {
  flex-basis: 100%;
  height: 0;
}

.label {
  display: flex;
  color: #595959;
  border-radius: 5px;
  padding: 0px 10px;
  margin: 5px;
  height: 40px;
  align-items: center;
  font-weight: bolder;
}

.title {
  background-color: #f3cf04;
  border: solid 1px #f3cf04;
}

.duration {
  background-color: #cdf5cb;
  border: solid 1px #cdf5cb;
}
