.carousel-caption {
  top: 500px;
  font-family: Georgia, serif, italic;
  font-size: 40px;
  color: white;
}

.carousel .carousel-item {
  height: 750px;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  max-height: 600px;
}
