.carousel-caption {
  bottom: 5px;
  font-family: Georgia, italic;
  font-size: 40px;
  color: #e6b219;
}

.carousel .carousel-item {
  height: 600px;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  max-height: 500px;
}
