.progress-bg {
  background-image: rgb(249, 212, 212);
  background-image: linear-gradient(
    90deg,
    rgba(249, 212, 212, 1) 0%,
    rgba(246, 178, 109, 1) 29%,
    rgba(247, 247, 117, 1) 100%
  );
}

.progress-table-container {
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  max-width: 50%;
  align-content: center;
}
.chart-container {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  max-width: 50%;
  align-content: center;
}

.progress-header {
  background-color: white;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 22px;
  color: #595959;
  margin-bottom: 20px;
  width: 100%;
}

.list-exercise {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
}

.progress-container {
  background-color: white;
  display: flex;
  padding: 5px;
  align-content: center;
  width: 500px;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

.list-img {
  max-width: 200px;
  padding-right: 5px;
}

.list-details {
  display: flex;
  flex-flow: column wrap;
}
.list-title {
  text-align: left;
  margin-top: 10px;
  margin-left: 5px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.list-date {
  text-align: left;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 12px;
  padding: 5px;
}
